<!DOCTYPE html>
<html lang="zh">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href= {% static "style/index.css" %}>
	<title>Picts</title>
</head>
<body class="col-all">
    <div> <form action="/login/" method="get">
                        <a href="">
                            <button type="submit"  >登录</button>
                        </a>
                        </form>
        <form action="/register/" method="get">
                        <a href="">
                            <button type="submit"  >注册</button>
                        </a>
                        </form>
    </div>
	<div>

        <ul class=daohanglan>
            <div class="12">
                <form action="/photo/" method="post">
                    search: <input type="text" name="information" />
                    <input type="submit" value="搜索" />
                </form>
{#                <form action="/photo/" method="post" enctype="multipart/form-data">#}
{#                    <input class="file" type="file" name="pic"  />#}
{#                    <input type="submit" value="提交文件">#}
{#                </form>#}
            </div>
         
                
                <li>
                    <form action="/photo/" method="post">
                        <a href="">                        
                            <button type="submit" formmethod="post" formaction="/photo/" name="information" value="唯美"  >唯美风</button>
                        </a>
                        </form>
                </li>
                <li>
                    <form action="/photo/" method="post">
                        <a href="">                        
                            <button type="submit" formmethod="post" formaction="/photo/" name="information" value="哥特"  >哥特风</button>
                        </a>
                        </form>
                </li>
                <li>
                    <form action="/photo/" method="post">
                        <a href="">                        
                            <button type="submit" formmethod="post" formaction="/photo/" name="information" value="性感"  >性感风</button>
                        </a>
                        </form>
                </li>
                <li>
                    <form action="/photo/" method="post">
                        <a href="">                        
                            <button type="submit" formmethod="post" formaction="/photo/" name="information" value="可爱"  >可爱风</button>
                        </a>
                        </form>
                </li>
                <li>
                    <form action="/photo/" method="post">
                        <a href="">
                            <button type="submit" formmethod="post" formaction="/photo/" name="information" value="慵懒"  >慵懒风</button>
                        </a>
                        </form>
                </li>

			</ul>
		</div>
</body>
</html>
{% load static %}
<script type="text/javascript">
    var name = "{% static 'background'  %}";
    var last_name = {{ background_img_name|safe }}[0];
    console.log(typeof (name));
    console.log(typeof (last_name));
    console.log(name);
    document.body.setAttribute("background", name + '/' + last_name);
</script>