{% extends "Picts/layout.html" %}

{% block content %}
<div class="index" onload="this">
    <div class="txt_logo">Pict</div>
    <div class="serch">
        <from class="search_input" action="." method="post">
            <input type="text" id="search_key" name="search_key">
            <a class="go_btn" href="#" onclick="return false;"></a>
        </from>
    </div>
    <div class="index_show">
        <div id="col-1 pict-1"></div>
        <div id="col-1 pict-2"></div>
    </div>
</div>
{% endblock %}
