<!DOCTYPE html>
<html lang="zh">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href= {% static "style/index.css" %}>
	<title>Picts</title>
</head>
<body>
    <div>
        <a href=""> 登录/注册</a>
    </div>
	<div>
        <ul class=daohanglan>
            <div class="12">
                <form action="form_action.asp" method="get">
                    search: <input type="text" name="fname" />
                    <input type="submit" value="Submit" />
            </div>
          </form>
            <li><a href="">唯美风</a></li>
            <li><a href="">可爱风</a></li>
				<li><a href="">哥特风</a></li>
				<li><a href="">性感风</a></li>
				<li><a href="">慵懒风</a></li>
			</ul>
		</div>
</body>
</html>