<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href= {% static "style/photo.css" %}>
	<title>tupian</title>
</head>
<body>
    <div class="pic_list_con">
        <h3>
            <span>图片展示</span>
        </h3>

            <ul class="clearfix">
                     {% for mit in photos %}
                         <li>
                         <a href=""><img src= "../static/{{ mit.pic_url }}"></a>
                         </li>
                     {% endfor %}
            </ul>

            
    </div>

</body>
</html>