<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href= {% static "style/photo.css" %}>
    <script src={% static "scripts/jquery-1.10.2.min.js" %}></script>
    <script src={% static 'scripts/heart.js' %}></script>
    <title>tupian</title>
</head>
<body onload=add_like_num()>
<div class="pic_list_con">
    <h3>
        <span>图片展示{{ user_id }}</span>
    </h3>
    <ul class="clearfix">
        {% for mit in photos %}
            <li>
                <a href=""><img src= "../static/{{ mit.pic_url }}"></a>
                <article class="htmleaf-container">
                    <div id="container">
                        <div class="feed" id="feed1">
                            <div class="heart" data-id={{ mit.pict_id }} rel="like" onclick=checkoutclass(this,{{ user_id }})>
                                <div>&#10084;</div>
                                <div class="likeCount" id = {{  mit.pict_id }}>{{ mit.love_num }}
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>


