<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
    <h1>注册</h1>
    <form action="" method="post">
        <a href="">账号</a><input type="text" name="user_id" style="margin-left:18px;margin-top:10px" autocomplete="off" placeholder="输入您的8-10位账号"><br><br>
        <a href="">用户名：</a>  <input type="text" name="nick_name" style="margin-left:18px;margin-top:10px" autocomplete="off" placeholder="请输入您的昵称"><br><br>
        <a href="">密码：</a>  <input type="password" name="password" style="margin-left:33px;margin-top:10px" autocomplete="off" placeholder="输入密码"><br><br>
        <a href="">确认密码：</a>  <input type="repassword" name="" style="margin-top:10px" autocomplete="off" placeholder=><br><br>
        <a href="">性别</a> <select name="sex">
            <option value ="male">男</option>
            <option value ="female">女</option>
          </select> <br><br>
        <a href="">职业：</a>  <input type="text" name="occupation" style="margin-left:18px;margin-top:10px" autocomplete="off"><br><br>
        <a href="">所在城市：</a>  <input type="text" name="city" style="margin-left:18px;margin-top:10px" autocomplete="off"><br><br>
        <div style="height: 200px; width: 100px;"><a href="javascript:;">头像</a>  <input type="file" name="portrait" accept="image/*" autocomplete="off"></div>
        <input type="reset"  autocomplete="off"><br><br>
        <input type="submit" value="注册" style="margin-left:80px;margin-top:10px" ><a href="/login/">已有账号</a><br>
    </form>
</body>
</html>
<script src="{% static 'scripts/show.head.js' %}"></script>