<!DOCTYPE html>
<html lang="zh">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <link rel="stylesheet" href="/static/style/style.css">

</head>

<body>
    <form id="login_form" class="modal-content animate" action="#">
        <div class="imgcontainer">
            <span onclick="document.getElementById('login_form').style.display='none'" class="close"
                title="Close Modal">&times;</span>
            <img src="/static/background/img_avatar.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <span><b>用户名</b></span>
            <input type="text" placeholder="请输入用户名" name="username" required>

            <label><b>密&nbsp&nbsp码</b></label>
            <input type="password" placeholder="请输入密码" name="pwd" required>

            <button type="submit">登陆</button>
            <input type="checkbox" checked="checked"> 记住我
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('login_form').style.display='none'"
                class="cancelbtn">取消</button>
            <span class="psw"><a href="#">忘记密码</a></span>
        </div>
    </form>


    <script>
       
    </script>




</body>

</html>