body{
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    overflow: hidden;
}
ul{/*设置导航栏的框框*/
   margin: 300px auto;
   width: 600px;
   height: 3500px;
  padding: 30px;
  
}
li{
  list-style-type: none;
  float: left;
}


a{
				display: block;
				width: 100px;
				height: 50px;
				font-family: Microsoft Yahei;
				line-height: 50px;
				background-color: crimson;
				margin: 0px 0px;
				color: #fff;
				text-align: center;
				text-decoration: none;
				font-size: 15px;
			}

a:hover{
  background-color: #2f6f4f;
}